{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_village_url = "{{=URL('default', 'get_village', user_signature=True)}}";
    var update_village_url = "{{=URL('default', 'update_village', user_signature=True)}}";
    var get_other_villages_url = "{{=URL('default', 'get_other_villages', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" style="display:none">
        <div class="container">
            <div class="quarter white whole_page">
                <div class="padded center">
                    <button class="btn yellow oval circle coin" v-on:click="cookie_clicked"><span class="gold">Gold:<br> ${gold.toFixed(0)}</span>
                    </button>
                </div>
                <div class="padded center" v-if="goldpersecond>0">Making ${goldpersecond.toFixed(1)} gold per second
                </div>
                <div class="padded center" v-if="goldclickincrease>1">Each click gives ${goldclickincrease.toFixed(0)}
                    gold
                </div>
            </div>
            <div class="quarter aqua whole_page">
                <div class="padded">
                    <div class="section_title">Economy</div>
                    <div v-for="item in shop">
                        <div class="btn teal fill rounded container" v-if="maxgold >= item.price/3"
                             v-on:click="purchase_item(item)">
                            <div class="quarter">
                                <img class="center" v-bind:src="item.img">
                            </div>
                            <div class="threequarters">
                                <div class="item_title">
                                    ${item.item_name}
                                </div>
                                <div>
                                    Cost: ${item.price.toFixed(1)} gold
                                </div>
                                <div>
                                    Produces ${item.gold_per_sec} gold per second
                                </div>
                                <div>
                                    ${item.description}
                                </div>
                                <div>
                                    Amount: ${item.amount}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quarter green whole_page">
                <div class="padded">
                    <div class="section_title">Mines</div>
                    <div v-for="item in mines">
                        <div class="btn teal fill rounded container" v-if="maxgold >= item.price/3"
                             v-on:click="purchase_item(item)">
                            <div class="quarter fill">
                                <img class="center" v-bind:src="item.img">
                            </div>
                            <div class="threequarters">
                                <div class="item_title">
                                    ${item.item_name}
                                </div>
                                <div>
                                    Cost: ${item.price.toFixed(1)} gold
                                </div>
                                <div>
                                    Increases gold per click by ${item.gold_per_click}
                                </div>
                                <div>
                                    ${item.description}
                                </div>
                                <div>
                                    Amount: ${item.amount}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quarter red whole_page">
                <div class="padded">
                    <div class="section_title">Warfare</div>
                    <div class="btn teal fill rounded raid_button" v-if="maxgold>=1000" v-on:click="get_villages">
                        <div class="center" v-if="!attacking">Raid rival village<br>
                            Goblins: ${goblins}<br>
                            Weapons: ${weapons}
                        </div>
                        <div class="center" v-if="attacking">You spy a village in the distance:<hr>
                            ${attacking_village_name}'s village<br>
                            Power: ${attacking_power}<br>
                            ATTACK!
                        </div>
                    </div>
                    <div class="item_title" v-if="fight_ended && victory">You won! You now gain ${attacking_gps} gold every second as tribute!</div>
                    <div class="item_title" v-if="fight_ended && !victory">Oh no you lost! =(</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="black ">Royalty free art taken from <a href="kenney.nl">Kenney</a> and <a href="lostgarden.com">Daniel Cook</a>. </footer>

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
