{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_village_url = "{{=URL('default', 'get_village', user_signature=True)}}";
    var update_village_url = "{{=URL('default', 'update_village', user_signature=True)}}";
    var get_other_villages_url = "{{=URL('default', 'get_other_villages', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" style="display:none">
        <div class="container">
            <div class="quarter white whole_page">
                <div class="padded">
                    <button class="btn yellow oval circle coin" v-on:click="cookie_clicked"><span class="gold">Gold:<br> ${gold.toFixed(0)}</span></button>
                </div>
            </div>
            <div class="quarter aqua whole_page">
                <div class="padded">
                    <div class="section_title">Economy</div>
                    <div v-for="item in shop">
                        <div class="btn teal fill rounded container" v-if="maxgold >= item.price/3"
                             v-on:click="purchase_item(item)">
                            <div class="quarter">
                                <img class="center" v-bind:src="item.img">
                            </div>
                            <div class="threequarters">
                                <div class="item_title">
                                    ${item.item_name}
                                </div>
                                <div>
                                    Cost: ${item.price.toFixed(1)} gold
                                </div>
                                <div>
                                    Produces ${item.gold_per_sec} gold per second
                                </div>
                                <div>
                                    ${item.description}
                                </div>
                                <div>
                                    Amount: ${item.amount}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quarter green whole_page">
                <div class="padded">
                    <div class="section_title">Mines</div>
                    <div v-for="item in mines">
                        <div class="btn teal fill rounded container" v-if="maxgold >= item.price/3"
                             v-on:click="purchase_item(item)">
                            <div class="quarter fill">
                                <img class="center" v-bind:src="item.img">
                            </div>
                            <div class="threequarters">
                                <div class="item_title">
                                    ${item.item_name}
                                </div>
                                <div>
                                    Cost: ${item.price.toFixed(1)} gold
                                </div>
                                <div>
                                    Increases gold per click by ${item.gold_per_click}
                                </div>
                                <div>
                                    ${item.description}
                                </div>
                                <div>
                                    Amount: ${item.amount}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quarter red whole_page">
                <div class="padded">
                <div class="section_title">Warfare</div>
                <div class="btn teal fill rounded item_title raid_button" v-if="maxgold>=1000" v-on:click="get_villages">Raid rival village<br>
                Goblins: ${goblins}<br>
                    Weapons: ${weapons}
                </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
